<!DOCTYPE html>
<html>
  <head>
    <%include ../_file%>
  </head>
  <body>
    <div class="ui grid">
    <div class="ten wide column">
    <div class="ui small piled feed segment">
    <h4 class="ui header">我的活动</h4>
    <div class="event">
    <div class="label">
    <img src="/images/demo/avatar2.jpg" pagespeed_url_hash="437283272" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="content">
    <div class="date">
    一个月前
    </div>
    <div class="summary">
    为<a href="http://www.icoolxue.com" target="_blank">爱酷学习网</a>增加视频教程订阅功能。
    </div>
    </div>
    </div>
    <div class="event">
    <div class="label">
    <i class="circular pencil icon"></i>
    </div>
    <div class="content">
    <div class="date">
    3天前
    </div>
    <div class="summary">
    为爱酷学习网增加最新评论功能。
    </div>
    <div class="extra text">
    为爱酷学习网设计Logo。
    </div>
    </div>
    </div>
    <div class="event">
    <div class="label">
    <i class="circular photo icon"></i>
    </div>
    <div class="content">
    <div class="date">
    3天前
    </div>


    </div>
    </div>
    </div>
    </div>
  </body>
 
</html>
