<!DOCTYPE html>
<!-- <html  manifest = "/cache.manifest"> -->
<html >
  <head>
    <%include ../_file%>
  </head>
  <body>
    <div class ="ui grid" style="margin-top: 15px;">
        <div class="three wide column"></div>
        <div class ="ten wide column">
            <div class="ui grid">
                <div id="app"></div>
            </div>
        </div>
        <div class="three wide column"></div>
    </div>
  </body>
  <script type="text/javascript" src="/dist/js/material.js"></script>
</html>
