    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/semantic.min.css"/>
    <script src="/javascripts/jquery-2.1.0.min.js"></script>
    <script src="/javascripts/semantic.js"></script>
    <script src="./dist/js/common.js"></script>
    <script src="./dist/js/bundle.js"></script>
