    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/semantic.min.css"/>
    <script src="/javascripts/jquery-2.1.0.min.js"></script>
    <script src="/javascripts/semantic.js"></script>
    <script src="/javascripts/index.js"></script>
