    <title><%= title %></title>
    <link rel="shortcut icon" href="/src/img/ico1.ico">
    <link rel="stylesheet" href="/plugins/semantic/css/semantic.min.css"/>
    <link rel='stylesheet' href='/src/css/style.css' />
    <script src="/plugins/jquery/jquery-2.1.0.min.js"></script>
    <script src="/plugins/semantic/js/semantic.min.js"></script>
    <script src="/plugins/underscore/underscore.min.js"></script>
    <script src="/dist/js/common.js"></script>
    <script src="/dist/js/utils.js"></script>