<!DOCTYPE html>
<html>
  <head>
<%include _file%>
  </head>
  <body>
    <div class="ui large vertical inverted labeled icon sidebar menu active">
    	<a href="">logo</a>
    	<div class="item">
    		<div class="menu">
    			<a href="./demo/flex" class="item">flex 布局</a>
    			
    		</div>
    	</div>
    	<div class="item">
    		<div class="menu">
    			<a href="" class="item">21</a>
    			
    		</div>
    	</div>
    	<div class="item">
    		<div class="menu">
    			<a href="" class="item">33</a>
    			
    		</div>
    	</div>
    	<div class="item">
    		<div class="menu">
    			<a href="" class="item">44</a>
    			
    		</div>
    	</div>
    	<div class="item">
    		<div class="menu">
    			<a href="" class="item">5566</a>
    			
    		</div>
    	</div>
    	<div class="item">
    		<div class="menu">
    			<a href="" class="item">66</a>
    			
    		</div>
    	</div>
    </div>
	<div class="ui black huge launch right attached button">
		<i class="icon list layout"></i>
		<span class="text">导航</span>
	</div>
  </body>
 
</html>
