    <!DOCTYPE html>
<html>
  <head>
<%include _file%>
  </head>
  <body>
    <div id="body">
	    <div class="ui grid">
	      
	        <div class="row">
	        	<div class="four wide column"></div>          
	            <div class="eight wide column main-content">	             
	                <div class="ui attached message">
	                    <div class="header">
	                        登陆
	                    </div>
	                    <p></p>
	                </div>
	                <form class="ui form attached fluid segment" method="post" action="/dologin">                  
	                    <div class="field">
	                        <label>用户名</label>
	                        <input placeholder="姓名" type="text" name="name">
	                    </div>
	                    <div class="field">
	                        <label>密码</label>
	                        <input type="password" placeholder="密码" name="password">
	                    </div>          

	                    <button class="ui blue submit button"  type="submit">登陆</button>
	                    <div class="ui blue submit button">忘记密码</div>
	                </form>
	                <div class="ui bottom attached info message">
	                    <i class="icon help"></i>
	                </div>	                
	            </div>
	            <div class="four wide column">
	            	
	            </div>
	        </div>


	    </div>
	</div>
	<div class="ui fixed transparent inverted main menu">
	    版权所有：寰宇通科技有限公司

	    Global Call Technology Limited
	</div>
  </body>
 
</html>

	