<!DOCTYPE html>
<html>
  <head>
<%include _file%>
  </head>
  <body>
    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="twelve wide column">
        <h3>1.内容</h3>
        <div class="ui icon message">
          <i class="inbox icon"></i>
          <div class="content">
            <div class="header">你听说过我们的邮件列表吗？ </div>
            <p>Get the best news in your e-mail every day.</p>
          </div>
        </div>
        <div class="ui icon message">
          <i class="notched circle loading icon"></i>
          <div class="content">
            <div class="header">稍候 </div>
            <p>我们正在为您获取内容。</p>
          </div>
        </div>
      </div>
      <div class="two wide column"></div>
    </div>

    <div class="ui three column grid">
      <div class="column"></div>
      <div class="column">
        <h3>2.表格</h3>
        <table class="ui table">
          <tbody>
            <tr>
              <td class="collapsing"><i class="folder icon"></i> node_modules </td>
              <td>Initial commit</td>
              <td>10 hours ago</td>
            </tr>
            <tr>
              <td><i class="folder icon"></i> test </td>
              <td>Initial commit</td>
              <td>10 hours ago</td>
            </tr>
            <tr>
              <td><i class="folder icon"></i> build </td>
              <td>Initial commit</td>
              <td>10 hours ago</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column"></div>
    </div>

    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="twelve wide column">
        <h3 class="ui dividing header">详情</h3>
        <div class="ui piled segment">
          <h4 class="ui header">头部</h4>
          <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
           <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
           <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
        </div>

        <div class="ui tall stacked segment">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>

        <div class="ui stacked segment">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>

        <div class="ui raised segment">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>
      </div>
      <div class="two wide column"></div>
    </div>

    <div class="ui grid">
      <div class="three wide column"></div>
      <div class="ten wide column">
        <div class="ui minimal comments">
          <h3 class="ui dividing header">Comments</h3>
          <div class="comment">
            <a class="avatar">
              <img src="/images/avatar/small/matt.jpg">
            </a>
            <div class="content">
              <a class="author">Matt</a>
              <div class="metadata">
                <span class="date">今天下午 5:42</span>
              </div>
              <div class="text">太赞了！ </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
          <div class="comment">
            <a class="avatar">
              <img src="/images/avatar/small/elliot.jpg">
            </a>
            <div class="content">
              <a class="author">Elliot Fu</a>
              <div class="metadata">
                <span class="date">昨天上午12:30</span>
              </div>
              <div class="text">
                <p>This has been very useful for my research. Thanks as well!</p>
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
            <div class="comments">
              <div class="comment">
                <a class="avatar">
                  <img src="/images/avatar/small/jenny.jpg">
                </a>
                <div class="content">
                  <a class="author">Jenny Hess</a>
                  <div class="metadata">
                    <span class="date">刚刚</span>
                  </div>
                  <div class="text">Elliot you are always so right :) </div>
                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <a class="avatar">
              <img src="/images/avatar/small/joe.jpg">
            </a>
            <div class="content">
              <a class="author">Joe Henderson</a>
              <div class="metadata">
                <span class="date">5 天以前</span>
              </div>
              <div class="text">老兄，这太棒了。非常感谢。 </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
          <form class="ui reply form">
            <div class="field">
              <textarea></textarea>
            </div>
            <div class="ui blue labeled submit icon button"><i class="icon edit"></i> Add Reply </div>
          </form>
        </div>
      </div>
      <div class="three wide column"></div>
    </div>






  </body>
 
</html>
