    <!DOCTYPE html>
<html>
  <head>
<%include _file%>
	<script src="/javascripts/index.js"></script>
	<script src="/javascripts/lib/react.js"></script>
    <script src="/javascripts/lib/react-dom.js"></script>
    <script src="/javascripts/lib/browser.min.js"></script>
  </head>
  <body>
    <div id="body">
	    <div class="ui grid">
	       <div class="four wide column"></div>
	       <div class="eight wide column">
                <div id="example"></div>
	       </div>
	       <div class="four wide column"></div>
	    </div>
	</div>

  </body>
   <script type="text/babel" src="/javascripts/service/react.js"></script>
</html>

	