<!DOCTYPE html>
<html>
  <head>
    <%include _file%>
  </head>
  <body>    
	<div id="body">
	    <div class="ui grid">	      
	        <div class="row">
	        	<div class="two wide column"></div>          
	            <div class="twelve wide column main-content">	             
	                <div class="ui attached message">
	                    <div class="header">
	                       欢迎 <%= req.query.id||'hello'%>光临
	                    </div>
	                    <h1><a href="/index">注销</a></h1>
	                    <p></p>
	                </div>              
	            </div>
	        </div>
	    </div>
	</div>
  </body>
</html>
