body{
    background: url(../images/background.png);
    overflow-x: hidden;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
}
.logo{
    color: #009FDA;

    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
}
#logo{
    margin: 0px 0 0 38px;
}
.head{
    height: 50px;
   /* */
}
#header{
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-bottom: 10px;
    z-index: 10;
    background: rgba(0,0,0,0.6);
}
#name_en{
    color: rgba(256,256,256,0.9);
    text-align: left;
    height: 50px;
    line-height: 0px;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow:none;
    -webkit-box-sizing: border-box;
}
#name_ch{
    color: rgba(256,256,256,0.9);
    border: none;
    background: none;
    height: 50px;
    line-height: 0px;
    -webkit-box-shadow: none;
    box-shadow:none;
    -webkit-box-sizing: border-box;
}
#logoback{
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow:none;
    -webkit-box-sizing: border-box;
}
#body{
    clear: both;
    margin-top: 100px;
}

#nav_Menu{
    margin-left: 5rem;
    width: 12rem;
}
.nav_active{
    position: fixed;
    top: 137px;
}