<!DOCTYPE html>
<html>
  <head>
  <%include ../_file%>
  <link rel="stylesheet" href="/plugins/markdown/css/editormd.min.css">
  </head>
  <body>
  	<div class="ui container">
        <%include ../_head%>
        <div class="ui main container" style="margin-top:60px">
             <div id="test-editormd">
                 <textarea style="display:none;"># hello world
```javascript
function test() {
  console.log("Hello world!");
}
```</textarea>
             </div>
             <div>
               <button class="ui primary button" id="modalShow">保存</button>
             </div>
        </div>
        <div class="ui modal small">
          <i class="close icon"></i>
          <div class="header">保存日志</div>
          <div class="content">
            <div class="ui form">
              <div class="inline fields">
                <div class="sixteen wide field">
                  <label>标题</label>
                  <input type="text" placeholder="请输入文章标题..." name="title">
                </div>
              </div>
            </div>
          </div>
          <div class="actions">
            <div class="ui green button" id="submitBlog">保存</div>
            <div class="ui cancel button">取消</div>
          </div>
        </div>
  	</div>
  </body>
 <script src="/plugins/markdown/js/editormd.min.js"></script>

<script type="text/javascript" src="/dist/js/markdown/markdown.js"></script>
</html>

