<!DOCTYPE html>
<html>
  <head>
<%include ../_file%>
 <link rel="stylesheet" href="/plugins/markdown/css/editormd.min.css">
  </head>
  <body>
  	<div class="ui container">
        <div class="ui main container text" style="position: relative;">
          <div  class="editormd-preview" style="display: block;width: 100%;position: inherit;">
            <div class="markdown-body editormd-preview-container" id="contentList">
              
            </div>
          </div>
        </div>
  	</div>
  </body>
 <script src="/dist/js/markdown/detail.js"></script>
</html>